<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h4>Header</h4>
        @RenderBody()
        <h4>Footer</h4>
    </div>
</body>
</html>
